<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consumo de água
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="display: flex; flex-direction: column; padding: 10px;">

    <div>
      <ion-input label="Digite seu peso:" type="text" [(ngModel)]="dadosPessoa.peso"></ion-input>
      <ion-input label="Total de água bebida hoje:" type="text" [(ngModel)]="dadosPessoa.consumo"></ion-input>
    </div>
    <ion-button (click)="getDados(dadosPessoa.peso, dadosPessoa.consumo)">Enviar</ion-button>

    <div class="cards">
      <ion-card>
        <canvas id="graficos"></canvas>
      </ion-card>
    </div>

  </div>



</ion-content>