<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Consumo de água -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="display: flex; flex-direction: column; padding: 10px;">

    <div style="margin: 0; padding: 0;">
      <ion-input label="Digite seu peso(kg):" type="number" step="any" [(ngModel)]="dadosPessoa.peso"></ion-input>
      <ion-input label="Água bebida hoje(L):" type="number" step="any" [(ngModel)]="dadosPessoa.consumo"></ion-input>
    </div>
    <ion-button (click)="getDados(dadosPessoa.peso, dadosPessoa.consumo)">Enviar</ion-button>
    <div style="margin-top: 10px; text-align: center;">
      <span>{{dadosPessoa.totalAbeber != '' ? 'Você precisa beber ' + dadosPessoa.totalAbeber + ' litros de água por dia' : ''}}</span>
    </div>

    <div class="cards">
      <canvas id="graficos"></canvas>
    </div>
    <ion-toast [isOpen]="mensagemErro" message="Digite um peso acima de 0" [duration]="2000"
      (didDismiss)="digitadoErro(false)"></ion-toast>
  </div>

</ion-content>