<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consumo de água
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container1">
    <div class="container2">
      <ion-input label="Digite seu peso(kg):" type="number" step="any" [(ngModel)]="dadosPessoa.peso"></ion-input>
      <ion-input label="Água bebida hoje(L):" type="number" step="any" [(ngModel)]="dadosPessoa.consumo"></ion-input>
    </div>
    <ion-button (click)="getDados(dadosPessoa.peso, dadosPessoa.consumo)">Enviar</ion-button>
    <div class="container3">
      <span *ngIf="dadosPessoa.totalAbeber != 0">{{'Você precisa beber ' + dadosPessoa.totalAbeber + ' litros de água por dia'}}</span>
    </div>
      <canvas id="graficos"></canvas>
    <ion-toast [isOpen]="mensagemErro" message="Digite um peso acima de 0" [duration]="2000"
      (didDismiss)="pesoMenorQue0(false)"></ion-toast>
  </div>

</ion-content>