.cards {
  display: grid;
  grid-template-columns: 1fr;
  height:40%;
  padding: 10px;
}

.cards ion-card {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 5px;
}

#graficos {
   padding: 10px;
}